<!DOCTYPE html>
<html>
  <head>
    <title>CSUEB 3520</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to <%= title %></h1>
    <p>This is a test page.</p>
  </body>
</html>
